name: lint
on:
  pull_request:
  push:
jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2
      - uses: golangci/golangci-lint-action@v2
        with:
          version: latest
          args: --timeout 10m --tests=false
          github-token: ${{ secrets.github_token }}
